.resources-box {
    grid-column: span 2;
    position: relative;
    background-image: url("./img/resourcesBox.png");
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    align-items: center;
    position: relative;
    
    padding: 10px;
    padding-top: 0px;
    width: 180px;
    height: 170px;

}

.resources-list li {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 154%;
}

.resources-list img {
    width: 25%;
    margin-right: 0.5em;
    margin-top: 3px;
}


/*ANOTHER PLAYER OPTIONS */

.another-player-resources {
    grid-column: span 1;
    padding-top: 22px;
    width: 120px;
    height: 130px;

    align-items: start;
}


.another-player-resources .resources-list li {
    font-size: 100%;
}

.exit-btn {
    background-image: url("/public/img/exitBtn.png");
}

.buttons-list {
    display: flex;
    column-gap: 4px;
    position: absolute;
    top: 156px;
    left: 2px;
}

.buttons-list img {
    width: 35px;
    cursor: pointer;
}

.buttons-list img:hover {
    opacity: 0.75;
}

