.player-factories-box {
    grid-column: span 5;
    display: flex;
    justify-content: space-between;
    align-items: end;

    margin-bottom: 1%;
}

.factory {
    width: 80%;
}


/*ANOTHER PLAYER OPTIONS */
ul.another-player-factories-box {
    grid-column: span 2;
    justify-self: center;
    justify-content: space-around;
    
    
}

.another-player-factories-box li {
    align-items: center;
    display: flex;
    width: 35%;
}

.factory-counter {
    font-size: 30px;
    
}

.factory-hint {
    background-image: url("/public/img/factoryESMHintContainer.png");
    background-repeat: no-repeat;
    object-fit: fill;
    width: 120px;
    height: 115px;
    padding: 8px;
    
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    justify-content: center;
    align-items: center;
}

.factory-hints-container {
    display: flex;
    
    margin-bottom: 15px;
    user-select: none;
    position: absolute;
}

.factory-hint-item {
    width: 35px;
}




.factories-status {
    display: flex;
    flex-direction: column;
    
    
}

.factories-status li {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

