.player-icon {
    grid-column: span 1;
    justify-self: start;
    align-self:end;
    position: relative;
    background-image: url("./img/playerAvatarContainer.png");
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: end;

    width: 182px;
    height: 80px;
    padding: 12px 53px;
}

.player-icon img {
    width: 68px;
    height: 53px;
    object-fit: fill;
}

/*ANOTHER PLAYER OPTIONS */
.player-icon.another-player-icon {
    justify-self: end;
    align-self: flex-start;
    margin-top: 8px;
    margin-right: 8px;

    justify-content: center;

    padding: 11px 5px;
    padding-left: 11px;
    
    width: 160px;
    height: 80px;
}

.player-icon.another-player-icon img {
    width: 58px;
    height: 45px;
}

.main-player {
    background-image: url("./img/mainPlayerAvatarContainer.png");
}

.cur-player-nickname, .another-player-nickname {
    position: absolute;
    width: auto;
    border: none;
    font-size: 20px;
    font: 28px "Caveat", sans-serif;
    transform: translate(-50%, -50%);

   
}

.cur-player-nickname {
    top: -16px;
    left: 50%;
    /* коррекция положения элемента */
}

.another-player-nickname {
    bottom: -35px;
    left: 50%;
}